{% extends 'base.html' %}



{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Berlin Ecommerce</p>
        </div>
    </div>
</header>
  <div class="container">
        <div class="row">
            <center>
               <div class="col-8">
                <br>
                <p align = "justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat odio quis quam ultricies, id ullamcorper urna vehicula. Donec vel auctor mauris, vitae iaculis turpis. Ut eget magna auctor nulla ornare sollicitudin id ut arcu. Curabitur viverra massa sapien, id molestie diam vehicula eget. Curabitur erat justo, iaculis sit amet ullamcorper et, rhoncus id enim. Morbi non ipsum sed magna tempus congue sed at orci. Etiam eu egestas velit, ut aliquet neque. Sed in metus nulla. Pellentesque nec vehicula quam, at dignissim augue. Integer a justo vel tortor suscipit rutrum et quis erat. Phasellus eu odio tellus. Pellentesque non efficitur magna, sit amet feugiat mi. Duis vel risus scelerisque, feugiat justo ut, egestas libero.
                 <br>
                Praesent fermentum mollis diam at interdum. Suspendisse augue nulla, porttitor id quam non, pretium molestie orci. Nam lectus nibh, pulvinar eget tincidunt ac, ornare vel enim. Quisque lacinia egestas hendrerit. Etiam nibh orci, ultrices et fringilla ac, ultrices tempor augue. Maecenas leo sem, lobortis id ligula at, laoreet interdum nisl. Nunc vestibulum erat quis ornare porttitor. Sed consectetur sem id tortor fermentum, eget porta neque ullamcorper. Praesent bibendum cursus felis vel maximus. Aliquam bibendum, sem at consectetur semper, nisi mi malesuada risus, sit amet scelerisque metus ante nec quam. Duis finibus consectetur eleifend. Quisque commodo lorem vitae venenatis tempor. Nulla consectetur odio vel orci finibus rutrum. Cras at libero in odio semper imperdiet vitae non enim. Aenean sed sem nibh.
                <br>
                Fusce rutrum sagittis elit a fringilla. Duis ut mollis eros, eget congue magna. Proin eu viverra urna. Sed facilisis consectetur turpis vitae tristique. Ut orci ligula, mollis eget ultrices vitae, consectetur sed eros. Aliquam congue, dui sit amet mattis dictum, nisi nisi eleifend lacus, a feugiat eros purus in mauris. Donec velit sem, fermentum sed massa vel, porttitor fringilla ipsum. Phasellus accumsan lobortis lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pellentesque pellentesque interdum. Sed nisl quam, pretium ut malesuada non, imperdiet id purus. Proin aliquet venenatis risus, sit amet accumsan metus fermentum sit amet.
               </p>
            </div>
            </center>

        </div>
  </div>
{% endblock %}